<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="On"
      internalLogFile="c:\temp\nlog-internal.log">

    <targets>

        <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
                layout="${longdate} ${level:uppercase=true} [${threadname:whenEmpty=${threadid}}] ${logger} - ${message} ${exception:format=ToString}" >
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="Blue" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>

        <target name="logfile" xsi:type="File"
                layout="${longdate} ${level:uppercase=true} [${threadname:whenEmpty=${threadid}}] ${logger} - ${message} ${exception:format=ToString}"
                fileName="${basedir}/logs/${date:format=yyyy-MM-dd-HH}.log"
                keepFileOpen="true"
                encoding="utf-8"
                autoFlush="false"
                openFileFlushTimeout="10"/>

    </targets>

    <rules>
        <logger name="App.*" minlevel="Debug" writeTo="coloredConsole, logfile" />
        <logger name="Yarp.*" minlevel="Debug" writeTo="coloredConsole, logfile" />
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Debug" writeTo="coloredConsole, logfile" />
    </rules>
</nlog>